#cart-header{
    margin-top:50px;
}
#order-bill-btn{
    width:20%;
    float:right;
    margin-top:20px;
}
#container-img-cart{
    margin-right:10px;
}
#img-cart{
    width:80px;
    height:auto;
}
