@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body{
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Lora', 'Open Sans', serif;
}
#root{
  overflow-x: hidden;
}
#navbar{
  height: 80px;
  background: #2c3e50;
  z-index: 10;
  position: fixed;
  top: 0;
  left:  0;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
}
#navbar #logo{
	position: absolute;
	width: 100px;
  left: 3%;
  height: 80px;
}
#navbar #link{
  float: right;
  margin-right: 25px;
  margin-bottom: 0;
}
#navbar #link .link-item{
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;

}
#navbar #link .link-item a{
  position: relative;
  padding: 5px 0;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
#navbar #link .link-item a:before{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}
#navbar #link .link-item a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}
#label-bars #btn,
#label-bars #cancel{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

#user-avatar{
  position: absolute;
  left: calc(190px + 4%);
  top: 18%;
  height: 100%;
  float: right;
  margin-right: 5px;
  margin-right: 10px;
}
#user-avatar #avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
}
#user-avatar #avatar:hover{
  transform: scale(1.05);
}

/* shopping cart */

#name-admin{
  position: absolute;
  left: calc(100px + 4%);
  top: 20%;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  padding: 10px;
  text-decoration: none;
  align-self: center;
  margin-left: 30px;
}

#shopping-cart{
  position: absolute;
  left: calc(100px + 4%);
  top: 20%;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  padding: 10px;
  text-decoration: none;
  align-self: center;
}
#shopping-cart:hover, #name-admin:hover{
  cursor: pointer;
  transform: scale(1.05);
}
#item-number{
  margin-left: 5px;
  font-weight: 800;
  color: #f1f50e;
}


@media (max-width: 1118px){
  #navbar #logo{
    left: 3%;
  }
}
@media (max-width: 944px){
  #navbar #logo{
    width: 90px;
		left: 3%;
  }
	#navbar #link .link-item a{
		font-size: 17px;
	}
}
@media (max-width: 768px){
  #navbar #logo{
    width: 80px;
  }
    #label-bars{
        float: right;
        margin: 0;
    }
    #label-bars #btn{
    display: block;
  }
  #link{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #34495e;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  #navbar #link .link-item{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  #navbar #link .link-item a{
    font-size: 20px;
  }
  #check:checked ~ #link{
    left: 0;
  }
	#check:checked ~ #label-bars #btn{
    display: none;
  }
	#check:checked ~ #label-bars #cancel{
    display: block;
  }
}
.container-fluid{
  padding: 0;
  margin-top: 80px;
  overflow-x: hidden;
}

/* ///////////////////////////////// */
#slideshow img{
  height: calc(100vh - 80px);
} 
/* #slideshow .title{
  font-weight: 600;
  font-size: 30px;
} */
.video{
  width: 100%;
  border: none;
}
.full-width{
  width: 100%;
}

@media (max-width: 1199.98px) { 
  .news-header{
    font-size: 16px;
  }
 }

@media (max-width: 1110px){
  #slideshow img{
    height: calc(80vh - 80px);
  } 
}
@media (max-width: 860px){
  #slideshow img{
    height: calc(70vh - 80px);
  } 
  #slideshow .title{
    /* font-weight: 400; */
    font-size: 16px;
  }
}
/* About Here */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ////////////////////////// */
/* .container-fluid{
    padding: 15px;
} */
.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image{
    width: 80%;
}
.small{
  display: none;
}
@media (max-width: 991.98px) { 
  .image{
    width: 100%;
  }
  .small{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .large{
    display: none;
  }
 }
@media (max-width: 768.92px) { 
    .image{
      width: 90%;
  }
  .small{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .large{
    display: none;
  }
}
@media (max-width: 575.98px) { 
  .image{
      width: 100%;
  }
  .small{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .large{
    display: none;
  }
 }
.p1{
    text-align: justify;
}
#timeline-container{
    overflow-x: hidden;
    padding-bottom: 50px;
}
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul {
    padding: 50px 0;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
  }
  
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #7f8c8d; 
    /*đường gạch*/
  }
  
  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
  }
  
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #0984e3;
    /*the*/
  }
  
  .timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #0984e3 transparent transparent; /*ô nhú ra*/
  }
  
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #0984e3;
  }
  
  time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */  
.timeline ul li::after {
    transition: background .5s ease-in-out;
  }
  
  .timeline ul li.in-view::after {
    background: #0984e3;
  }
  
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  /* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
  }
  
  @media screen and (max-width: 600px) {
    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
      width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #0984e3 transparent transparent;
    }
  }
/* Service Here */

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes hvr-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .hvr-wobble-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

.image-container{
    display: flex;
    justify-content: center;
}
.small{
  display: none;
}
.img-height{
  height: 300px;
}

@media (max-width: 767.92px) { 
  .small{
    display: flex;
    justify-content: center;

  }
  .large{
    display: none;
  }
}
@media (max-width: 575.98px) { 
  .small{
    display: flex;
    justify-content: center;
  }
  .large{
    display: none;
  }
 }

@media (min-width: 576px) { 
  .img-height{
    height: 350px;
  }
}

@media (min-width: 768px) {
  .img-height{
    height: 400px;
  }
}
@media (min-width: 992px) {
  .img-height{
    height: 450px;
  }
}
@media (min-width: 1200px) {
  .img-height{
    height: 500px;
  } 
}

/* Product Here */
#menu-nar{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    color: #000;
    font-weight: 600;

}
#menu-nar a:hover,
#menu-nar a:active{
    background-color: #1aec59;
}
#menu .title{
    text-align: center;
    background-color: #ecf0f1;
    margin-top: 20px;
    padding:10px;
    width: 100%;
}
#menu .card-title,.price{
    color: #e74c3c;
    font-weight: 600;
}
#menu .product-item{
    margin-top: 20px;
    margin-bottom: 20px;
}

#menu .card-body{
    text-align: center;
}

#menu .card{
  padding: 10px;
  width: 95%;
  margin: 0 auto;
}
.card .img-product{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 200px;
    height: 200px;
    margin: 5px auto;
}
.card .img-product:hover{
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.card .add-cart{
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 12px;
}
.card .add-cart:hover{
  cursor: pointer;
}
@media (max-width: 1200px) { 
    .card .img-product{
        width: 180px;
        height: 180px;
    }
    #menu .title{
        font-size: 24px;
    }
    #menu .card{
        font-size: 18px;
    }

  }
@media (max-width: 992px) { 
  #menu .title{
      font-size: 22px;
  }
  #menu .card{
      font-size: 14px;
  }
}
@media (max-width: 768px) { 
    #menu .title{
        font-size: 20px;
    }
    #menu .card{
        /* width: 100%; */
        font-size: 12px;
    }

 }
 @media (max-width: 575.98px){
    #menu .card{
        margin: 0;
    }
 }

/* card */
.card{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: relative;
}
.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu-list-active{
  background-color: #1aec59;
}
/* Contact Here */
.map{
    width: 90%;
    border: none;
}


/* footer here */
.footer {
  background: #152f4f;
  color: white;
  /* z-index: 10; */
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li a {
  color: white;
  transition: color 0.2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180cb;
}
.footer .about-company i {
  font-size: 35px;
}
.footer .about-company a {
  color: white;
  transition: color 0.2s;
}
.footer .about-company a:hover {
  color: #4180cb;
  text-decoration: none;
}
.footer .location i {
  font-size: 18px;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

#move-to-top{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}
@media (max-width: 767.98px) { 
  #move-to-top{
    padding: 10px;
  }
}
/* @media (max-width: 575.98px) {
  #move-to-top{
    padding: 5px;
  }
 } */
/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
/* card */
/* .card{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */
